In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
path = "C:/Users/idris/Desktop/ENSAE/S1_3A/Statistique_Bayesienne/BayesianStats/"

In [3]:
df_custom = pd.read_csv(f"{path}/data/world_data.csv")

In [4]:
df_custom.isna().sum()

country              0
happiness           54
income               1
lifeexp              7
sanitation           0
water                0
urbanpopulation     75
unemployment        82
literacy            45
inequality          34
murder             101
energy              25
childmortality       1
fertility           10
hiv                 45
foodsupply          26
population           0
dtype: int64

In [5]:
df_custom.dropna(axis=0, subset=["happiness"], inplace=True)

df_custom = df_custom.fillna(value=df_custom.mean()).reset_index(drop=True)

C:\Users\idris\AppData\Local\Temp/ipykernel_5252/4290113932.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_custom = df_custom.fillna(value=df_custom.mean()).reset_index(drop=True)

In [6]:
scaler = MinMaxScaler()
scaler.fit(df_custom.iloc[:, 2:])
df_custom.iloc[:, 2:] = scaler.transform(df_custom.iloc[:, 2:])

In [7]:
df_custom.head()

,country,happiness,income,lifeexp,sanitation,water,urbanpopulation,unemployment,literacy,inequality,murder,energy,childmortality,fertility,hiv,foodsupply,population
0,Afghanistan,3.982855,0.009441,0.022642,0.345674,0.394435,0.074074,0.179549,0.183893,0.452039,0.060624,0.128095,0.526706,0.588430,0.000973,0.086957,0.023841
1,Albania,4.606651,0.086926,0.766038,0.975248,0.859247,0.216590,0.568425,0.959732,0.267241,0.028707,0.040309,0.087537,0.077686,0.045767,0.684783,0.001850
2,Argentina,6.697131,0.154779,0.724528,0.944038,0.993453,0.408032,0.078432,0.974497,0.534483,0.059019,0.105684,0.069733,0.176860,0.016903,0.706522,0.030772
3,Armenia,4.348320,0.063304,0.683019,0.909600,0.981997,0.341448,0.663914,0.997315,0.340517,0.013486,0.051744,0.087537,0.069421,0.000580,0.543478,0.001850
4,Australia,7.309061,0.361686,0.954717,1.000000,1.000000,0.585934,0.114381,0.755938,0.390086,0.013357,0.292314,0.011869,0.102479,0.003866,0.733696,0.016768

In [8]:
R_path = "C:/Users/idris/Desktop/ENSAE/S1_3A/Statistique_Bayesienne/BayesianStats/"
df_custom.to_csv(f"{R_path}/data/world_data_processed.csv", sep=";", index=False)

In [9]:
df_custom.iloc[:, 1:2]

     happiness
0     3.982855
1     4.606651
2     6.697131
3     4.348320
4     7.309061
..         ...
135   5.568800
136   5.076315
137   2.982674
138   4.843164
139   3.703191

[140 rows x 1 columns]

In [10]:
pd.read_csv("C:/Users/idris/Desktop/ENSAE/S1_3A/Statistique_Bayesienne/BayesianStats/data/world_data_processed.csv", sep=";")

,country,happiness,income,lifeexp,sanitation,water,urbanpopulation,unemployment,literacy,inequality,murder,energy,childmortality,fertility,hiv,foodsupply,population
0,Afghanistan,3.982855,0.009441,0.022642,0.345674,0.394435,0.074074,0.179549,0.183893,0.452039,0.060624,0.128095,0.526706,0.588430,0.000973,0.086957,0.023841
1,Albania,4.606651,0.086926,0.766038,0.975248,0.859247,0.216590,0.568425,0.959732,0.267241,0.028707,0.040309,0.087537,0.077686,0.045767,0.684783,0.001850
2,Argentina,6.697131,0.154779,0.724528,0.944038,0.993453,0.408032,0.078432,0.974497,0.534483,0.059019,0.105684,0.069733,0.176860,0.016903,0.706522,0.030772
3,Armenia,4.348320,0.063304,0.683019,0.909600,0.981997,0.341448,0.663914,0.997315,0.340517,0.013486,0.051744,0.087537,0.069421,0.000580,0.543478,0.001850
4,Australia,7.309061,0.361686,0.954717,1.000000,1.000000,0.585934,0.114381,0.755938,0.390086,0.013357,0.292314,0.011869,0.102479,0.003866,0.733696,0.016768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Venezuela,5.568800,0.125460,0.686792,0.945114,0.957447,0.261340,0.072722,0.942282,0.653017,0.204133,0.119168,0.106825,0.181818,0.017617,0.380435,0.022055
136,Vietnam,5.076315,0.042278,0.641509,0.765390,0.855974,0.117769,0.026288,0.914094,0.392241,0.060624,0.032056,0.146884,0.119008,0.044583,0.445652,0.066637
137,Yemen,2.982674,0.016896,0.373585,0.566294,0.515548,0.056076,0.049505,0.536913,0.433190,0.060624,0.014148,0.393917,0.472727,0.003866,0.157609,0.018983
138,Zambia,4.843164,0.025189,0.030189,0.258502,0.364975,0.101124,0.179549,0.484564,0.872845,0.060624,0.030977,0.474036,0.628099,0.173163,0.000000,0.011267
139,Zimbabwe,3.703191,0.010613,0.037736,0.339217,0.453355,0.058573,0.224850,0.782550,0.573276,0.060624,0.037180,0.428042,0.429752,0.214237,0.097826,0.011053