In [20]:
import pandas as pd
import numpy as np

In [21]:
df_custom = pd.read_csv("world_data.csv")
df_custom.mean()

C:\Users\idris\AppData\Local\Temp/ipykernel_24996/460513840.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_custom.mean()

happiness          5.395765e+00
income             1.743285e+04
lifeexp            7.193369e+01
sanitation         7.383825e+01
water              8.632938e+01
urbanpopulation    2.432218e+01
unemployment       1.908810e+00
literacy           8.157383e+01
inequality         3.857938e+01
murder             4.953132e+00
energy             2.183725e+03
childmortality     3.144145e+01
fertility          2.835924e+00
hiv                2.179917e+05
foodsupply         2.845952e+03
population         3.787195e+07
dtype: float64

In [22]:
df_custom

,country,happiness,income,lifeexp,sanitation,water,urbanpopulation,unemployment,literacy,inequality,murder,energy,childmortality,fertility,hiv,foodsupply,population
0,Afghanistan,3.982855,1750.0,57.9,39.2,63.0,11.0,NaN,39.0,NaN,NaN,NaN,73.2,4.80,5800.0,2090.0,33700000
1,Albania,4.606651,11000.0,77.6,97.7,91.4,NaN,6.090,96.8,29.0,2.30,808.0,14.0,1.71,NaN,3190.0,2920000
2,Argentina,6.697131,19100.0,76.5,94.8,99.6,43.1,0.856,97.9,41.4,4.65,2020.0,11.6,2.31,95000.0,3230.0,43400000
3,Armenia,4.348320,8180.0,75.4,91.6,98.9,36.7,7.110,99.6,32.4,1.12,1020.0,14.0,1.66,3600.0,2930.0,2920000
4,Australia,7.309061,43800.0,82.6,100.0,100.0,60.2,1.240,NaN,34.7,1.11,5480.0,3.8,1.86,22000.0,3280.0,23800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Tonga,NaN,5190.0,70.3,93.5,99.9,NaN,NaN,99.0,37.5,NaN,567.0,16.8,3.68,NaN,NaN,106000
190,Trinidad and Tobago,NaN,31300.0,73.1,92.1,96.9,NaN,NaN,98.8,40.3,12.10,14400.0,19.1,1.77,13000.0,3050.0,1360000
191,Tuvalu,NaN,3320.0,NaN,91.4,99.3,NaN,NaN,NaN,39.1,NaN,NaN,26.2,NaN,NaN,NaN,11000
192,Vanuatu,NaN,2810.0,63.6,53.5,90.5,NaN,0.978,83.2,37.6,NaN,159.0,28.2,3.31,NaN,2840.0,265000
193,Liechtenstein,NaN,NaN,NaN,100.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37400

In [23]:
df_custom.fillna(value=df_custom.mean()).reset_index(drop=True)

C:\Users\idris\AppData\Local\Temp/ipykernel_24996/1555244610.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_custom.fillna(value=df_custom.mean()).reset_index(drop=True)

,country,happiness,income,lifeexp,sanitation,water,urbanpopulation,unemployment,literacy,inequality,murder,energy,childmortality,fertility,hiv,foodsupply,population
0,Afghanistan,3.982855,1750.000000,57.90000,39.2,63.0,11.000000,1.90881,39.000000,38.579375,4.953132,2183.725325,73.200000,4.800000,5800.000000,2090.000000,33700000
1,Albania,4.606651,11000.000000,77.60000,97.7,91.4,24.322185,6.09000,96.800000,29.000000,2.300000,808.000000,14.000000,1.710000,217991.677852,3190.000000,2920000
2,Argentina,6.697131,19100.000000,76.50000,94.8,99.6,43.100000,0.85600,97.900000,41.400000,4.650000,2020.000000,11.600000,2.310000,95000.000000,3230.000000,43400000
3,Armenia,4.348320,8180.000000,75.40000,91.6,98.9,36.700000,7.11000,99.600000,32.400000,1.120000,1020.000000,14.000000,1.660000,3600.000000,2930.000000,2920000
4,Australia,7.309061,43800.000000,82.60000,100.0,100.0,60.200000,1.24000,81.573826,34.700000,1.110000,5480.000000,3.800000,1.860000,22000.000000,3280.000000,23800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Tonga,5.395765,5190.000000,70.30000,93.5,99.9,24.322185,1.90881,99.000000,37.500000,4.953132,567.000000,16.800000,3.680000,217991.677852,2845.952381,106000
190,Trinidad and Tobago,5.395765,31300.000000,73.10000,92.1,96.9,24.322185,1.90881,98.800000,40.300000,12.100000,14400.000000,19.100000,1.770000,13000.000000,3050.000000,1360000
191,Tuvalu,5.395765,3320.000000,71.93369,91.4,99.3,24.322185,1.90881,81.573826,39.100000,4.953132,2183.725325,26.200000,2.835924,217991.677852,2845.952381,11000
192,Vanuatu,5.395765,2810.000000,63.60000,53.5,90.5,24.322185,0.97800,83.200000,37.600000,4.953132,159.000000,28.200000,3.310000,217991.677852,2840.000000,265000
193,Liechtenstein,5.395765,17432.849741,71.93369,100.0,100.0,24.322185,1.90881,81.573826,38.579375,4.953132,2183.725325,31.441451,2.835924,217991.677852,2845.952381,37400

In [24]:
pd.read_csv("donnness_projet_sat_bayesienne.csv", sep=";")

        Unnamed: 0     sr  pop15 pop75      dpi   ddpi
0        Australia  11,43  29,35  2,87  2329,68   2,87
1          Austria  12,07  23,32  4,41  1507,99   3,93
2          Belgium  13,17   23,8  4,43  2108,47   3,82
3          Bolivia   5,75  41,89  1,67   189,13   0,22
4           Brazil  12,88  42,19  0,83   728,47   4,56
5           Canada   8,79  31,72  2,85  2982,88   2,43
6            Chile    0,6  39,74  1,34   662,86   2,67
7            China   11,9  44,75  0,67   289,52   6,51
8         Colombia   4,98  46,64  1,06   276,65   3,08
9       Costa Rica  10,78  47,64  1,14   471,24    2,8
10         Denmark  16,85  24,42  3,93  2496,53   3,99
11         Ecuador   3,59  46,31  1,19   287,77   2,19
12         Finland  11,24  27,84  2,37  1681,25   4,32
13          France  12,64  25,06   4,7  2213,82   4,52
14         Germany  12,55  23,31  3,35  2457,12   3,44
15          Greece  10,67  25,62   3,1   870,85   6,28
16       Guatamala   3,01  46,05  0,87   289,71   1,48
17        Honduras    7,7  47,32  0,58   232,44   3,19
18         Iceland   1,27  34,03  3,08   1900,1   1,12
19           India      9  41,31  0,96    88,94   1,54
20         Ireland  11,34  31,16  4,19  1139,95   2,99
21           Italy  14,28  24,52  3,48     1390   3,54
22           Japan   21,1  27,01  1,91  1257,28   8,21
23           Korea   3,98  41,74  0,91   207,68   5,81
24      Luxembourg  10,35   21,8  3,73  2449,39   1,57
25           Malta  15,48  32,54  2,47   601,05   8,12
26          Norway  10,25  25,95  3,67  2231,03   3,62
27     Netherlands  14,65  24,71  3,25   1740,7   7,66
28     New Zealand  10,67  32,61  3,17  1487,52   1,76
29       Nicaragua    7,3  45,04  1,21   325,54   2,48
30          Panama   4,44  43,56   1,2   568,56   3,61
31        Paraguay   2,02  41,18  1,05   220,56   1,03
32            Peru   12,7  44,19  1,28   400,06   0,67
33     Philippines  12,78  46,26  1,12   152,01      2
34        Portugal  12,49  28,96  2,85   579,51   7,48
35    South Africa  11,14  31,94  2,28   651,11   2,19
36  South Rhodesia   13,3  31,92  1,52   250,96      2
37           Spain  11,77  27,74  2,87   768,79   4,35
38          Sweden   6,86  21,44  4,54  3299,49   3,01
39     Switzerland  14,13  23,49  3,73  2630,96    2,7
40          Turkey   5,13  43,42  1,08   389,66   2,96
41         Tunisia   2,81  46,12  1,21   249,87   1,13
42  United Kingdom   7,81  23,27  4,46  1813,93   2,01
43   United States   7,56  29,81  3,43  4001,89   2,45
44       Venezuela   9,22   46,4   0,9   813,39   0,53
45          Zambia  18,56  45,25  0,56   138,33   5,14
46         Jamaica   7,72  41,12  1,73   380,47  10,23
47         Uruguay   9,24  28,13  2,72   766,54   1,88
48           Libya   8,89  43,69  2,07   123,58  16,71
49        Malaysia   4,71   47,2  0,66   242,69   5,08